/* DEFINITIONS
  ============================================================================ */
@import "define";


/* MIXINS
  ============================================================================ */
@import "compass";
@import "mixins";


/* RESETS
  ============================================================================ */
@import "boilerplate/mobile_normalize_v301";

// To counter normalize indentation of lists, and reposition bullets and numbers.
ol, ul {
  padding-left: 0;
  list-style-position: inside
}


/* BASIC STRUCTURE
  ============================================================================ */
@import "susy";
@import "breakpoint";

$susy: (
  columns: 6,
  container: 660px,
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: rgba(#66b3dc, 0.25),
  //   output: overlay,
  //   toggle: bottom right
  //   )
  );

@include border-box-sizing;

@import "mobile/layout";


/* TYPOGRAPHY
  ============================================================================ */
@import "mobile/typography";


/* MISCELLANEOUS
  ============================================================================ */
@import "misc";
@import "animations";


/* NAVIGATION
  ============================================================================ */
@import "mobile/navigation";


/* FORMS
  ============================================================================ */
@import "mobile/forms";


/* PAGES
  ============================================================================ */
@import "mobile/pages";


/* STAGING - new styles belong here !!!DO NOT INTEGRATE!!!
  ============================================================================ */
@import "mobile/staging";


/* APPLICATION - ad hoc code under this line
  ============================================================================ */



/* LAST
  ============================================================================ */
@import "boilerplate/mobile_helpers";
